.main{
	max-width: 1000px;
	margin: 0 auto;
}
.ishop{
	width: 100%;
	padding: 50px 20px;
	border: 5px solid #1cb73d;
}
.ishop__header{
	text-align: center;
	font-size: 65px;
	font-style: italic;
	margin-bottom: 50px;
	margin-top: 0;
	color: #281a8c;
}
.ishop__container{
	border: 3px solid #20113d;
}
.ishop__item{
	width: 100%;
	display: flex;
}
.table-header{
	font-size: 40px;
    font-weight: 900;
}
.table-header__items,
.ishop-content__items{
	flex: 0 1 100px;
	display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid #20113d;
}
.table-header__items_price,
.ishop-content__items_price{
	flex: 0 1 250px;
}
.table-header__items_name,
.ishop-content__items_name{
	flex: 0 1 200px;
}
.table-header__items_img,
.ishop-content__items_img-container{
	flex: 1 1;
}
.ishop-content__img{
	width: 100%;
	height: 100%;
}
.ishop-content{
	height: 200px;
}
.ishop-content__items{
	font-size: 30px;
	font-weight: 500;
}
