

	
/*___________________________________ITEM_DISCRIPTION_______________*/
.reviews__checkbox{
	position: absolute;
	opacity: 0;
	visibility: hidden;
}
.reviews .container{
	position: relative;
}
.reviews__label{
	position: absolute;
  left: 120px;
  top: 0px;
  transform: rotate(-90deg);
  font-size: 30px;
}
.box_reviews{
	overflow: hidden;
	height: 0;
	transition: all .5s ease-in;
}
.description{
	width: 100%;
	background-color: #fff;
	padding: 15px 0px 50px;
}
.description_wrapper{
	display: flex;
	justify-content: space-between;
}
.description .container:first-child{
	padding: 0px 50px;
	width: 100%;
	height: 80px;
	display: flex;
}
.description .container:first-child p{
	color: #b4b4b4;
	font-size: 16px;
}
.description .container:first-child a{
	color: #b4b4b4;
	font-size: 16px;
}
.description .container:first-child .dotsLink{
	color: rgb(0, 0, 0);
}
.input__color-text{
	display: inline-block;
	margin-right: 15px;
}
.input__color{
	display: inline-block;
	width: 20px;
	height: 20px;
	position: relative;
  top: 5px;
	border-radius: 5px;
	margin-right: 10px;
}
/*_______________________ACTIVE LINK__________________*/
.item_slider{
	flex: 0 1 48%;
}
.image__wrapper{
	width: 100%;
  height: 490px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image__item{
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.item_content{
	flex: 0 1 48%;
	padding-left: 10px;
}
.item_content h2, .reviews h2, .item_foto h2{
	font-size: 26px;
	text-align: left;
	border: none;
	color: #292929;
	margin: 0 0 25px;
}
 input[type="radio"]{
	display: none;
}
.check_color{
	margin-bottom: 10px;
}
.check_color span{
	margin: 0;
}
.check_color label{
	color: #969696;
}

.item_content .star{
	font-size: 16px;
	color: #a8a8a8;
	margin-bottom: 10px;
}
.item_content .star img:last-child{
	margin-right: 10px;
}
.item_content  span{
	color: #292929;
	font-size: 18px;
	margin-right: 5px;
	font-weight: bold;
}
.item__discr{
	color: #000;
	margin-bottom: 10px;
}
.item_content p{
	font-size: 16px;
	color: #292929;
	margin-bottom: 10px;
}
.check_size{
	margin-bottom: 30px;
}
.item_content .text{
	margin-bottom: 40px;
	line-height: 22px;
}
.item_discription p{
	color: #585858;
}
.item_content strong{
	display: block;
	font-size: 26px;
	color: #292929;
	font-weight: bold;
	margin-bottom: 15px;
}

/*__________________TAB___________________*/

.tab input, .tab label, .tab h2{
	display: none;
}

/*___________________________________________*/
.item_content > a{
	display: inline-block;
	padding: 13px 0px;
	width: 225px;
	text-align: center;
	background-color: #292929;
	color: #eaeaea;
	border-radius: 5px;
	font-size: 18px;
	margin-bottom: 25px;
	border: 1px solid transparent;
}
.item_content > a:hover{
	background-color: #f1f1f1;
	color: #000;
	border: 1px solid #000;
}
.item_links p{
	display: inline-block;
	font-size: 18px;
	color: #9b9b9b;
}
.item_links a:first-of-type{
	margin-left: 93px;
	margin-right: 10px;
}



/*____________________________SLIDER___________________________*/


.item_slider .wrapper{
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
	display: flex;
	flex-direction: column;
}

.slider{
	flex: 1 1 auto;
	width: 300%;
	height: 100%;
	display: flex;
	background-color: #f3f4f5;
}
.slide{
	width: 33.333%;
	height: 100%;
	transition: margin-left .8s ease;
}
.slide .container{
	height: 100%;
	display: flex;
	align-items: center;
}
/*Добавить слово ITEM*/
.item_slider .wrapper .container{
	flex: 0 1 10%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.item_slaider_label{
	display: flex;
	position: absolute;
	left: 50%;
	bottom: 20px;
	transform: translateX(-50%);
	}
.item_slaider_label label{
	display: inline-block;
	width: 30px;
	height: 3px;
	background-color: #888;
	border-radius: 15%;
	margin: 1px;
	transition: all .8s ease;
}
.item_slaider_label label:hover{
	background-color: #333;
}
.slider input[type="radio"]{
	position: absolute;
	left: 50%;
	bottom: 10px;
	transform: translateX(-50%);
	visibility: hidden;
}
.one{
	background: url(../../../IMG/rose_gold_mesh.png) center bottom/ contain no-repeat;
	position: relative;
}


/*_________________________CARDS________________________________*/

.cards{
	width: 100%;
	padding: 50px 0px;
}
.cards .container{
	max-width: 1200px;
	margin: 0 auto;
	position: relative;
}
.cards .container > p{
	font-size: 18px;
	color: #888;
	line-height: 20px;
	margin-bottom: 30px;
	text-align: center;
}
.bought_flex{
	display: flex;
	justify-content: space-between;
}
.bought_flex > div{
	flex: 0 1 32%;
	padding: 8px;
}
.bought_flex > div >p{
	text-align: center;
	padding: 10px 0px;
	border: 1px solid #aaa;
	color: #888;
	position: relative;
}
.bought_flex_left{
	background-color: #fde6ac;
}
.bought_flex_middle{
	background-color: #bbe7dc;
}
.bought_flex_right{
	background-color: #bad3ea;	
}
/*Изменить где надо*/
.bought_flex_left p:before{
	content: url(../../../IMG/Group_96.svg);
	position: absolute;
	left: calc(50% - 116px);
	top: 50%;
	transform: translateY(-50%);
}
.bought_flex_middle p:before{
	content: url(../../../IMG/Group_94.svg);
	position: absolute;
	left: calc(50% - 70px);
	top: 50%;
	transform: translateY(-50%);
}
.bought_flex_right p:before{
	content: url(../../../IMG/Group_95.svg);
	position: absolute;
	left:  calc(50% - 85px);
	top: 50%;
	transform: translateY(-50%);
}


/*_________________________REVIEWS_____________________________*/

.reviews{
	width: 100%;
	padding: 50px 0px;
}
.box_reviews{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.review_card{
	flex: 0 1 24%;
	padding: 20px 20px 20px 30px;
	margin-bottom: 20px;
	position: relative;
	background-color: #f3f4f5;
}
h3{
	font-size: 18px;
	font-weight: 700;
	color: #555;
	margin-bottom: 30px;
}
.card_image{
	margin-bottom: 20px;
}
.review_text{
	position: relative;
	height: 120px;
}
.review_text input{
	display: none;
}
.review_text label{
	display: inline-block;
	font-size: 16px;
	font-weight: 700;
	position: absolute;
	right: 0;
	bottom: -17px;
	padding-bottom: 1px;
	border-bottom: 2px solid #555;
	color: #949595;
}

.review_text_self{
    height: 100%;
}
.review_text p{
	align-self: center;
	font-size: 16px;
	height: 100%;
	overflow: auto;
	color: #949595;
	line-height: 17px;
}

/*________________________FOTO__________________________*/

.item_foto{
	width: 100%;
	padding: 40px 0px;
}
.item_foto_slide{
	width: 33.3333%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	transition: all .8s ease;
}
/*Изменить*/
.item_foto_wrapper{
	flex: 0 1 25%;
  height: 100%;
  margin-right: 20px;
  background-color: #efeeec;
  border-radius: 10px;
}

/*___________________________________FOTO_SLIDER______________________*/


.item_foto_container{
	width: 100%;
	display: flex;
	height: 280px;
	margin-bottom: 30px;
	overflow: hidden;
	position: relative;
}

.item_foto_image{
	height: 100%;
  display: flex;
	justify-content: center;
  align-items: center;
  position: relative;
}
.item_foto_image img{
	width: 100%;
	height: 100%;
	object-fit: contain;
}

/*_____________________________________MODAL_____________________*/
.item_foto_modal{
	transform: translateY(-100%);
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	transition: all .8s ease;
}
.item_foto_modal p {
	font-size: 20px;
	color: #fff;
	margin-bottom: 20px;
}
.btn{
	display: inline-block;
	width: 170px;
	padding: 8px 0px;
	text-align: center;
	border: 1px solid #fff;
	color: #fff;
	letter-spacing: 2px;
	transition: all .5s ease;
}
.btn:hover{
	background-color: #fff;
	color: #555;
}
.item_foto_image:hover  .item_foto_modal{
	transform: translateY(0);
}

