@media screen and (max-width: 1000px){
  .table-items__image-wrapper{
    margin-right: 10px;
  }
  .table-items__discription{
    width: 100px;
  }
  .basket_submit{
    margin: 0 35px;
  }
}

@media screen and (max-width: 768px){
  .basket h1{
    padding-left: 20px;
  }
  .table-items{
    height: 170px;
  }
  .table-items__discription{
    width: 120px;
  }
  .table-items__product{
    flex-direction: column;
  }
  .table-items__image-wrapper{
    margin-bottom: 10px;
  }
  .table-items__color-wrapper{
    display: none;
  }
  .all_forms{
    margin: 15px 20px;
  }
  .payment_choose{
    margin: 15px 20px 50px;
  }
  .pay_way{
    flex: 0 1 auto;
  }
  .payment_button{
    margin-left: 20px;
  }
}

@media screen and (max-width: 500px){
  .basket{
    padding: 20px 0;
  }
  .basket_form_group{
    padding: 20px 0 50px;
  }
  .table-items__image-wrapper{
    width: 80px;
    height: 80px;
  }
  .product-table{
    padding: 20px 10px 40px;
  }
  .header-item_product, .table-items__product{
    flex: 1 1 auto;
  }
  .header-item_empty, .table-items__delete{
    flex: 0 1 5%;
  }
  .header-item_cost, .table-items__cost{
    display: none;
  }
  .all_forms{
    flex-direction: column;
  }
  .delivery{
    margin-right: 0;
    margin-bottom: 20px;
  }
}
